{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать</title>
</head>
<body>
    <header>
        <h1>Фитнес магазин</h1>
    </header>
    <main>
        <section>
            <h2>Добро пожаловать на наш сайт</h2>
            <p>Здесь вы можете найти широкий выбор наших товаров.</p>
        </section>
        <nav>
        </nav>
    </main>
    <footer>
        <p>Контактная информация: email@gmail.com</p>
    </footer>
</body>
</html>